* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

h1 {
    background: #000000;
 color:beige;
 font-size: 3em;
text-transform: uppercase;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
font-style: oblique;
margin : 50px;
margin-bottom: 50px;
padding: 10px;
text-align: center;
letter-spacing: -1px;
text-shadow: 2px 5px 5px blue;


}

main{

 margin-left: 20px ;
  margin-right: 20px;

  line-height: 2em;
  text-align: justify;
  font-weight: 900;

}
 footer{
     color: rgb(20, 33, 220);
     text-align: center;
 }
